@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*, *:before, *:after {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.mb_120 {
  margin-bottom: 111px;
}


@import "base/variables";

@import "blocks/header";
@import "blocks/nav";
@import "blocks/btns";
@import "blocks/promo";
@import "blocks/title";
@import "blocks/digital__packages";
@import "blocks/reasons";
@import "blocks/working_with_us";
@import "blocks/footer";
@import "blocks/modal";