.header {
  width: 100%;
  background-color: #ffffff;

  &__top {
    min-height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .img__logo {
    width: 185px;
    height: 48px;
    margin-right: 45px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    color: rgba(33, 33, 33, .7);
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 40px;

    .phone__number {
      font-weight: 600;
      font-size: 16px;
      //line-height: 20px;
      color: rgba(33, 33, 33, .7);
    }

    .header_btn-phone {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

}