.promo {
  background: url('/img/main_bg.jpg') center (center / cover) no-repeat;

  &_wrapp {
    min-height: 708px;
    display: flex;
    justify-content: flex-start;
  }

  &__main {
    width: 780px;
  }

  &__title {
    font-weight: 700;
    font-size: 68px;
    line-height: 73px;
    color: $white;
    margin-top: 165px;
  }

  &__description {
    font-weight: 500;
    font-size: 16px;
    color: $white;
    margin-top: 28px;
  }

  .btns__block {
    margin-top: 52px;
    display: flex;
    gap: 30px;
  }

  .hamburger {
    position: absolute;
    top: 12px;
    right: 13px;
    width: 30px;
    height: 18px;

    display: none;

    span {
      width: 100%;
      height: 3px;
      background-color: $orange;
      border: 1px solid $orange;
    }
  }
}