.title {
  font-weight: 700;
  font-size: 38px;
  color: #212121;
  margin-bottom: 60px;
}

.orange {
  color: $orange;
}

.footer_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, .5);
}