.working_with_us {
  &_wrapp {


    .working_nav-list {
      display: grid;
      grid-template-columns: repeat(5, 240px);
      grid-template-rows: 88px;
      margin-bottom: 0;
      list-style-type: none;

      .working_nav-item {
        width: 100%;
        height: 100%;
        font-weight: 500;
        font-size: 14px;
        color: #212121;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;

        border-left: 1px solid rgba(51, 51, 51, 0.2);
        background-color: $gray-light;

        &:hover {
          cursor: pointer;
        }

        &:last-child {
          border-right: 1px solid rgba(51, 51, 51, 0.2);
        }
      }

      .active {
        color: $white;
        background-color: $orange;
      }
    }

    .working_with_description-wrapper {
      border: 1px solid rgba(51, 51, 51, 0.2);

      .working_with_us_descr {
        display: none;
        min-height: 280px;


        .tabs_wrapp {
          width: 720px;
          padding: 38px 0px 27px 46px;

          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          color: #212121;

          ul {
            list-style-type: none;
            margin-bottom: 0;
          }

          .working_with_us-item {
            position: relative;
            padding-left: 20px;

            &:before {
              position: absolute;
              content: '';
              width: 3px;
              height: 3px;
              top: 6px;
              left: 0;
              border-radius: 50%;
              background-color: rgba(0, 0, 0, .4);
            }
          }
        }

        .working_with_us_descr-img {
          max-width: 480px;
          display: flex;
          justify-content: space-between;
        }

      }

      .active_tab {
        display: flex;
      }
    }
  }
}